* {
    margin: 0;
    font-family: 'Manrope', sans-serif;
}

:root {
    --backgrond: #000;
    --text-color: #FFF;
    --button: #8257E5;
    --border: #29292E;
    --border-menu-mobile: #A8A8B3;
    --text-color-menu-mobile: #E1E1E6;
}

    /* default config */

body {
    color: var(--text-color);
    height: 100%;
    width: 100%;
    background-color: var(--backgrond);
}

header {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 918px;
    height: 50px;
}

.lista {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 1.5rem;
}

.btn-cafe {
    background: transparent;
    color: white;
    text-align: center;
    text-decoration: none;
    border: 2px solid #8257E5;
    border-radius: 10px;
    width: 172px;
    height: 37px;
    font-size: 15px;
    font-weight: 700;
    transition: 0.1s;
}

.btn-cafe:hover {
    background-color: #8257E5;
    transition: 0.1s;
    border: none;
}

main {
    text-align: center;
    margin-top: 120px;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 150px;
    letter-spacing: -0.03em;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.second-title {
    text-shadow: -1px -1px 0 var(--button), 1px -1px 0 var(--button), -1px 1px 0 var(--button), 1px 1px 0 var(--button);
    color: #000;
}

.img-container img {   /* tive que especificar mais, pois o margin 0 de cima tava tendo prioridade */
    position: relative;
    margin-left: calc(50% - 400px);
    bottom: -20px;
}

    /* blur effect */

.blur-left {
    position: fixed;
    background-color: #996DFF;
    width: 360px;
    height: 360px;
    left: -21px;
    top: 495px;
    filter: blur(200px);
}

.blur-right {
    position: fixed;
    background-color: #996DFF;
    width: 360px;
    height: 360px;
    left: 90%;
    top: -63px;
    filter: blur(150px);
}

.blur-mobile {
    display: none;
    position: fixed;
    width: 300px;
    height: 300px;
    background-color: #996DFF;
    filter: blur(150px);
    bottom: -250px;
}

    /* mobile stuff */

.mobile-nav button {
    background: transparent;
    border: none;
    margin: 0;
    box-shadow: none;
    width: 70px;
    height: 40px;
}

.mobile-nav button:hover {
    border: 0.5px #8257E5 solid;
    margin: 0;
    text-decoration: none;
    box-sizing: none;
}

.mobile-nav {
    display: none;
}


.txt-mobile {
    display: none;
    font-size: 30px;
    line-break: auto;
    line-height: 60px;
    word-spacing: 0.25em;
    padding: 0 90px 65px;
}

main section button {
    margin-top: 70px;
}

.close-btn {
    background: transparent;
    border: none;
    margin: 0;
    box-shadow: none;
    width: 70px;
    height: 40px;
}

.close-btn:hover {
    border: 0.5px #8257E5 solid;
    margin: 0;
    text-decoration: none;
    box-sizing: none;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--backgrond);
    display: grid;
    grid-template-rows: auto 1fr auto;
    row-gap: 1rem;
    transition: 0.5s;
    transform: translate(-100%);
    color: rgb(184, 177, 177);
    z-index: 10;
}

.sidebar-show {
    transform: translate(0);
}

.sidebar-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    list-style: none;
    font-size: 20px;
    transform: translateX(-42px);
    position: relative;
}

.sidebar-list li {
    height: 50px;
    border-bottom: 1px solid #A8A8B3;
    text-align: left;
    padding-left: 70px;
    padding-top: 20px;
}

.sidebar-list :first-child {
    border-top: 1px solid #A8A8B3;
}

.sidebar-list li:hover {
    border-left: solid 6px #8257E5;
    color: var(--text-color);
    transition: 0.2s;
}

li, button:hover {
    cursor: pointer;
}

@media screen and (max-width: 918px) {
    header {
        display: none;
    }

    .mobile-nav {
        display: block;

    }

    .mobile-ul {
        display: none;
    }

    .nav-header {
        display: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 40px 30px 10px;
        align-items: center;
    }

    .blur-left {
        display: none;
    }

    .blur-right {
        display: none;
    }

    .blur-mobile {
        display: block;
    }

    .img-container img {
        width: 100%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        position: relative;
    }

    main {
        font-size: 35px;
        line-height: 3em;
    }


    .second-title {
        color: black;
    }


    .txt-mobile {
        display: block;
    }
}